.header {
    border-bottom: 1px solid #777778;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.spread {
    color: #636669;
    flex: 1;
}

.orderBookDesktop {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    overflow-y: hidden;
    /* height: 85vh; */
}

.toggle {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.toggleButton {
    font-size: large;
    padding: 5px;
    background-color: rgb(117, 84, 174);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.connectButton {
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}


/* for mobile screens */

@media (min-width: 768px) {
    .orderBookMobile {
        display: none;
    }
}


/* for desktop */

@media (max-width: 768px) {
    .orderBookDesktop {
        display: none;
    }
    .spread {
        display: none;
    }
}