html,
body {
    padding: 0;
    font-size: 14px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #01101d;
    color: #c2c7cb;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_1 {
    flex: 1;
}

.bid_price_color {
    color: var(--bid-color);
}

.ask_price_color {
    color: var(--ask-color);
}

.heading_color {
    color: var(--bid-color);
}

.total_color {
    color: var(--bid-color);
}

:root {
    --total-color: #c2c7cb;
    --heading-color: #a1a6ab;
    --ask-color: rgb(245, 0, 0);
    --bid-color: rgb(0, 245, 0);
}