.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main {
    /* padding: 5rem 0; */
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

.header {
    border-bottom: 1px solid #777778;
    padding-bottom: 10px;
}